{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productos list</h1>

    <table>
        <thead>
            <tr>
                <th>Idproducto</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td><a href="{{ path('producto_show', { 'idProducto': producto.idProducto }) }}">{{ producto.idProducto }}</a></td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('producto_show', { 'idProducto': producto.idProducto }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('producto_edit', { 'idProducto': producto.idProducto }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_new') }}">Create a new producto</a>
        </li>
    </ul>
{% endblock %}
