<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function () {
$(".class_select_categoriaA").change(function(){
    var data = {
        catA_id: $(this).val()
    };
    $.ajax({
        type: 'POST',
        url: '{{path("select_catB")}}',
        data: data,
        success: function(data) {
            var $catb_selector = $('.class_select_categoriaB');
            $catb_selector.html('<option>Categoria B</option>');
            for (var i=0, total = data.length; i < total; i++) {
                $catb_selector.append('<option value="' + data[i].idCategoriab + '">' + data[i].nombreCatB + '</option>');
            }
        }
    });
});
});
</script>
</head>
<body>
    <h1>Producto creation</h1>

    {{ form_start(form) }}
        {{form_row(form.nombre)}}
        {{form_row(form.descripcion)}}
        {{form_row(form.categoriaA)}}
        {{form_row(form.fkCategoriab)}}
        {{form_row(form.crear)}}
    {{ form_end(form) }}
</body>
